
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block text-left max-w-[32px]">
  <div>
    <button (click)="toggleDropDown()" type="button"
             [ngClass]="dropDownButtonStyles()"
            id="menu-button" aria-expanded="true" aria-haspopup="true">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
       [ngClass]="{'w-6 h-6 transition-all duration-200':true, 'hidden': dropDownOpened,
        'opacity-100': !dropDownOpened,'text-green-300': theme === 'Dark','text-gray-800': theme === 'Light'}"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           [ngClass]="{'w-6 h-6 transition-all duration-200':true, 'hidden': !dropDownOpened,
            'opacity-100': dropDownOpened,'text-green-300': theme === 'Dark','text-gray-800': theme === 'Light'}"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg>

    </button>
  </div>
  <div
    [ngClass]="dropDownLayoutStyles()"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <div (click)="routeTo('/basket')"
         [ngClass]="dropDownItemStyles()"
         role="menuitem"
         tabindex="-1"
         id="menu-item-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
        <span class="ml-3">Cart</span>
      </div>
      <div (click)="routeTo('/orders')"
           [ngClass]="dropDownItemStyles()"
         role="menuitem"
         tabindex="-1"
         id="menu-item-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
        </svg>
        <span class="ml-3">Orders</span>
      </div>
    </div>
    <div (click)="logOut()"
         [ngClass]="dropDownItemStyles()"
         role="menuitem">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
      </svg>
      <span class="ml-3">Log Out</span>
    </div>

    </div>
</div>
